* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Navbar */
header {
    background: #0b66c3;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav .nav-links a:hover {
    text-decoration: underline;
}
.register-btn {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.3s;
}

.register-btn:hover {
    background-color: #e60000;
}

/* ===== HERO SECTION ===== */
.hero {
    height: 45vh;
    background: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c')
      no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero h1,
.hero p {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 50px;
    color: #bcdcff;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
}

/* ===== EVENTS LIST ===== */
.events-container {
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.event-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.event-card h2 {
    color: #004aad;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 17px;
    line-height: 1.6;
}
