* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Navbar */
header {
    background: #0b66c3;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav .nav-links a:hover {
    text-decoration: underline;
}
.register-btn {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.3s;
}

.register-btn:hover {
    background-color: #e60000;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('https://images.unsplash.com/photo-1555066931-4365d14bab8c')
                center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero span {
    color: #4db8ff;
}

.btn {
    background: #4db8ff;
    padding: 00px 10px;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

/* Sections */
section {
    padding: 60px 80px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

/* About Cards */
.about-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Events */
.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.event-card {
    background: #0b66c3;
    color: white;
    padding: 25px;
    border-radius: 10px;
}

/* Team */
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.team-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Contact */
.contact {
    text-align: center;
}

/* Footer */
footer {
    background: #0b66c3;
    color: white;
    text-align: center;
    padding: 15px;
}
